.circle {
  --border-radius: 50%;
}

.close-button {
  background-color: var(--ion-background-color);
  margin-left: 11px;
  width: 35px;
  height: 35px;
  border: 1px solid gray;
  align-content: center;
  text-align: center;
  justify-content: center;

  .icon-close {
    font-size: 32px;
  }
}

.rate {
  border-radius: 25px;
  border: 1px solid gray;
  height: 170px;

  --background: none;
  background-repeat: no-repeat;
  background-size: 100% 115%;
}

.rate-col {
  text-align: center;
}

.divider {
  width: 85%;
  height: 1px;
  background-color: gray;
  margin: auto;
  margin-top: 10px;
}

ion-chip {
  margin-bottom: 5px;
}

.rate-value {
  position: relative;
  font-size: 40px;
  top: 5px;
  left: 15px;

}
