.address {
  .my-2 {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .text-90 {
    font-size: 90%;
  }

  .text-80 {
    font-size: 80%;
  }

  .gray {
    color: gray;
  }

  ion-radio {
    margin-inline-end: 10px;
  }

  ion-icon {
    border: 1px solid gray;
    padding: 5px;
    font-size: 95%;
    z-index: 10;
  }
}

