<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [routerLink]="['/addresses']"></ion-back-button>
    </ion-buttons>
    <ion-title>Agregar Dirección</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="add-address padding-bottom-45">
    <ion-item class="rounded mt-2">
      <ion-label position="floating">Nombre de Dirección</ion-label>
      <ion-input type="text" name="address" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item class="rounded mt-2">
      <ion-grid>
        <ion-row class="mb-2">
          <ion-label>Ubicación</ion-label>
        </ion-row>
        <div class="my-location" id="my-location">
          <ion-img src="../../assets/images/foto_mapa_holguin.png" style="width: 100%;"></ion-img>
        </div>
        <ion-row>
          <ion-item (click)="navigate()" lines="none">
            <ion-label  class="item-link" color="primary">Buscar ubicación en el mapa</ion-label>
          </ion-item>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item class="rounded mt-2">
      <ion-label position="floating">Añadir detalles de la dirección</ion-label>
      <ion-textarea placeholder="En un pasillo, casa pintada de verde..." rows="4" [(ngModel)]="details" spellcheck="true"></ion-textarea>
    </ion-item>
    <ion-button class="fixed" (click)="saveEditAddress()">Guardar</ion-button>
  </div>
</ion-content>
