<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'favs.header'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="service-container" *ngIf="services">
    <div class="service" *ngFor="let service of services">
      <app-service [service]="service"></app-service>
    </div>
  </div>
  <!-- Skeleton screen -->
<div *ngIf="!services">

  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
</div>
</ion-content>
