<!-- Default back button -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-row class="ion-padding">
    <ion-col class="content-col">
      <ion-avatar class="user-image">
        <img src="../../assets/images/avatar3.jpg">
        <ion-icon name="create-sharp" class="edit-avatar"></ion-icon>
      </ion-avatar>
    </ion-col>
  </ion-row>

  <div class="ion-padding" style="font-size: 15% !important;">
    <form>
      <ion-item class="mt-2">
        <ion-label position="floating">Nombre</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="mt-2">
        <ion-label position="floating">Apellido</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item class="mt-2">
        <ion-label position="floating">Correo</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item class="mt-2">
        <ion-label>Género</ion-label>
        <ion-select placeholder="Selecciona uno">
          <ion-select-option value="f">Femenino</ion-select-option>
          <ion-select-option value="m">Masculino</ion-select-option>
          <ion-select-option value="o">Otro</ion-select-option>
        </ion-select>
      </ion-item>

      <!-- Datetime in popover with cover element -->
      <ion-item class="mt-2" button="true" id="open-date-input">
        <ion-label>Fecha de nacimiento</ion-label>
        <ion-text slot="end">{{ dateValue }}</ion-text>
        <ion-popover trigger="open-date-input" show-backdrop="false">
          <ng-template>
            <ion-datetime #popoverDatetime presentation="date"
              (ionChange)="dateValue = formatDate(popoverDatetime.value)"></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    
    </form>
  </div>
</ion-content>
