<div class="service">
  <div class="service-photo">
    <ion-img [src]="service.photo"></ion-img>
  </div>
  <!-- * Next version comment
  <div class="floating">
    <ion-icon name="heart-sharp" (click)="yeah()" class="float-heart"></ion-icon>
  </div>
  * Next version comment -->
  <!-- <div class="service-data">
    <ion-text class="service-name">{{service.name}}</ion-text>
    <ion-grid>
      <ion-row class="service-row">
        <div class="service-rate">
          <ion-text class="darker">
            {{service.rating}}
            <ion-icon name="star-sharp" class="golden"></ion-icon>
          </ion-text>
        </div>
        <div class="service-pick darker ml-2">
          {{'service.pickup_time'|translate}} ~ {{service.pickupTime}}
        </div>
      </ion-row>
    </ion-grid>
    <div class="service-status">
      <ion-text color="{{ !availability ? 'danger' : 'success' }}">
        <ng-container *ngIf="!availability">{{'service.not_available'|translate}}</ng-container>
        <ng-container *ngIf="availability">{{'service.available'|translate}}</ng-container>
      </ion-text>
    </div>
  </div> -->

  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-text class="service-name">{{service.name}}</ion-text>
      </ion-col>
      <ion-col size="4" class="d-flex content-end align-center">
        <ion-text class="service-status" color="{{ !availability ? 'danger' : 'success' }}">
          <ng-container *ngIf="!availability;">{{'service.not_available'|translate}}</ng-container>
          <ng-container *ngIf="availability">{{'service.available'|translate}}</ng-container>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="auto" class="d-flex align-center">
        <ion-text class="service-rate">
          {{service.rating}}
          <ion-icon name="star-sharp" class="golden"></ion-icon>
        </ion-text>
      </ion-col>
      <ion-col class="ml-2">
        <ion-text class="pickup-text">{{'service.pickup_time'|translate}} ~ {{service.pickupTime}}</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>