<div id="service-container" *ngIf="services">
  <div class="service" *ngFor="let service of services">
    <div class="service-photo">
      <ion-img [src]="service.photo"></ion-img>
    </div>
    <div class="floating">
      <ion-icon name="heart-sharp" (click)="yeah()" color="primary" class="float-heart"></ion-icon>
    </div>
    <div class="service-data">
      <ion-text class="service-name">{{service.name}}</ion-text>
      <ion-grid>
        <ion-row class="service-row">
          <div class="service-rate">
            <ion-text class="darker">
              {{service.rate}}
              <ion-icon name="star-sharp" class="golden"></ion-icon>
            </ion-text>
          </div>
          <div class="service-pick darker ml-2">
            Tiempo de recogida ~ {{service.pickupTime}}
          </div>
        </ion-row>
      </ion-grid>
      <div class="service-status">
        <ion-text color="{{service.status === 'NO_DISPONIBLE' ? 'danger' : 'success' }}">
          {{service.status === 'NO_DISPONIBLE' ? 'NO DISPONIBLE' : 'DISPONIBLE'}}
        </ion-text>
      </div>
    </div>
  </div>  
</div>



<!-- Skeleton screen -->
<div *ngIf="!services">

  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
  <app-service-skeleton></app-service-skeleton>
</div>
