<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>{{'tabs.start'|translate}}</ion-label>
    </ion-tab-button>

    <!-- * Next version comment
    <ion-tab-button tab="search">
      <ion-icon name="search"></ion-icon>
      <ion-label>{{'tabs.search'|translate}}</ion-label>
    </ion-tab-button>
    * Next version comment -->

    <ion-tab-button tab="order">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>{{'tabs.order'|translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-sharp"></ion-icon>
      <ion-label>{{'tabs.profile'|translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
