<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-searchbar id="search-place" debounce="800" type="search" animated [(ngModel)]='place' showCancelButton="always"  [value]="place"
      (ionChange)="findPlace(place)" (ionCancel)="goBack()" (ionClear)="onClear()" (ionBlur)="dismiss()" autocomplete="false" [placeholder]="'map.search_placeholder'|translate">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Segment with secondary color -->
  <ion-segment class="mb-2" (ionChange)="segmentChanged($event)"  color="success"
    value="Holguin" scrollable="true">
    <ion-segment-button *ngFor="let place of mapPlaces" [value]="place">
      <ion-label>{{place.tag}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <div id="mapId" style="width: 100%; height: 92%"></div>
  <ion-button class="fixed" *ngIf="!address && showSaveButton">{{'button.set'|translate}}</ion-button>
  <ion-button class="fixed" (click)="saveEdit()" *ngIf="address && showSaveButton">{{'button.save'|translate}}</ion-button>
</ion-content>
