.modal-places{
  max-height: 258px !important;
  margin-inline: auto;
  width: 90%;
  margin-top: 49px;
  border-radius: 10px;

  ion-label{
    font-size: 90%;
    font-weight: bold;
  }

  ion-icon{
    margin-inline-end: 8px;
  }
}

