<ion-content class="welcome-content" color="primary">
  <div class="welcome">
    <ion-thumbnail style="width: 128px; height: 128px; align-items: center;">
      <ion-img src="../../assets/icon/carorangeicon_98536.png"></ion-img>
    </ion-thumbnail>
    <ion-label>Welcome TransApp</ion-label>
    <br>
    <div>      
      <ion-row class="mt-4">
        <ion-col size="5"></ion-col>
        <ion-col size="2" style="text-align: center;">
          <ion-spinner color="light" name="lines-small"></ion-spinner>
        </ion-col>
        <ion-col size="5"></ion-col>
      </ion-row>
    </div>
  </div>
</ion-content>
