.filter {

  ion-item {
    ion-label {
      font-size: 80%;
    }
  }

  ion-icon {
    margin-inline-end: 15px;
  }

  .only-show {
    ion-checkbox {
      margin-inline-end: 15px;
    }
  }

  .categories {
    ion-row{
      ion-label {
        font-size: 75%;
      }

      ion-ckeckbox{
        --size: 5px;
      }
    }
  }

 
}

.no-padding {
  padding: 0 !important;
}

.input-message{
  font-size: 0.8rem;
  margin-left: 15px;
  user-select: none;
}
