<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'home.filter.filter_header'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="show">
    <div class="filter padding-bottom-40">
      <form [formGroup]="filterForm">
        <ion-list class="rounded shadow" lines="none">
          <ion-radio-group formControlName="sortBy">
            <ion-list-header>
              <ion-label>{{'home.filter.sort_by'|translate}}</ion-label>
            </ion-list-header>

            <ion-item>
              <ion-icon slot="start" name="location-sharp"></ion-icon>
              <ion-label>{{'home.filter.closeness'|translate}}</ion-label>
              <ion-radio slot="end" value="closeness"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="star-sharp"></ion-icon>
              <ion-label>{{'home.filter.rating'|translate}}</ion-label>
              <ion-radio slot="end" value="rating"></ion-radio>
            </ion-item>

            <ion-item>
              <ion-icon slot="start" name="time-sharp"></ion-icon>
              <ion-label>{{'home.filter.arrival_time'|translate}}</ion-label>
              <ion-radio slot="end" value="arrival_time"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>

        <ion-item class="ion-margin-top rounded only-show shadow" lines="none">
          <ion-label>{{'home.filter.only_available'|translate}}</ion-label>
          <ion-checkbox formControlName="onlyAvailable" slot="start"></ion-checkbox>
        </ion-item>

        <div class="ion-margin-top rounded shadow">
          <!-- Basic -->
          <ion-accordion-group>
            <ion-accordion value="price" class="rounded shadow">
              <ion-item slot="header">
                <ion-label>{{'home.filter.price_range'|translate}}</ion-label>
              </ion-item>

              <ion-list slot="content">
                <ion-item>
                  <ion-range formControlName="priceRange" dualKnobs="true" [min]="priceRangeMin" [max]="priceRangeMax"
                    [step]="priceRangeStep" pin="true" [pinFormatter]="customFormatter" snaps="true">
                    <ion-icon size="small" slot="start" name="cash-sharp"></ion-icon>
                    <ion-icon slot="end" name="cash-sharp"></ion-icon>
                  </ion-range>
                </ion-item>
              </ion-list>
            </ion-accordion>
          </ion-accordion-group>
        </div>

        <div class="categories ion-margin-top">
          <!-- Basic -->
          <ion-accordion-group>
            <ion-accordion value="categories" class="rounded shadow">
              <ion-item slot="header">
                <ion-label>{{'home.filter.category.header'|translate}}</ion-label>
              </ion-item>
              <ion-list slot="content" lines="none">
              <ng-container formArrayName="category">
                <ion-item *ngFor="let category of checkedCategories, let i = index">
                  <ion-checkbox [formControlName]="i" [checked]="category.checked" (ionChange)="updateChecked()"></ion-checkbox>
                  <ion-label class="ml-5">{{ category.name }}</ion-label>
                </ion-item>
              </ng-container>
              </ion-list>
            </ion-accordion>
            <ion-label *ngIf="category.errors?.['noCategorySelected']" class="input-message" color="danger">{{'home.filter.select_category'|translate}}</ion-label>
          </ion-accordion-group>

        </div>
      </form>
    </div>
    <ion-button class="fixed" [disabled]="!filterForm.valid">{{'button.apply_filter'|translate}}</ion-button>
  </div>

  <div *ngIf="!show">
    <ion-list class="rounded" lines="none">
      <ion-radio-group value="closeness">
        <ion-list-header>
          <ion-skeleton-text animated style="width: 35%" class="rounded"></ion-skeleton-text>
        </ion-list-header>

        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <ion-skeleton-text animated style="width: 45%" class="rounded"></ion-skeleton-text>
          </ion-label>
          <ion-avatar slot="end">
            <ion-skeleton-text animated class="mt-2" style="width: 50%; height: 50%;"></ion-skeleton-text>
          </ion-avatar>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <ion-skeleton-text animated style="width: 50%" class="rounded"></ion-skeleton-text>
          </ion-label>
          <ion-avatar slot="end">
            <ion-skeleton-text animated class="mt-2" style="width: 50%; height: 50%;"></ion-skeleton-text>
          </ion-avatar>
        </ion-item>

        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <ion-skeleton-text animated style="width: 39%" class="rounded"></ion-skeleton-text>
          </ion-label>
          <ion-avatar slot="end">
            <ion-skeleton-text animated class="mt-2" style="width: 50%; height: 50%;"></ion-skeleton-text>
          </ion-avatar>
        </ion-item>
      </ion-radio-group>
    </ion-list>

    <ion-item class="ion-margin-top rounded" lines="none">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated class="mt-3 ml-2" style="width: 40%; height: 40%;"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <ion-skeleton-text animated class="rounded"></ion-skeleton-text>
      </ion-label>
    </ion-item>

    <ion-item class="ion-margin-top rounded" lines="none">
      <ion-label>
        <ion-skeleton-text animated style="width: 75%" class="rounded"></ion-skeleton-text>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated class="mt-4 ml-3" style="width: 50%; height: 10%;"></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
    <ion-item class="ion-margin-top rounded" lines="none">
      <ion-label>
        <ion-skeleton-text animated style="width: 50%" class="rounded"></ion-skeleton-text>
      </ion-label>
      <ion-thumbnail slot="end">
        <ion-skeleton-text animated class="mt-4 ml-3" style="width: 50%; height: 10%;"></ion-skeleton-text>
      </ion-thumbnail>
    </ion-item>
  </div>
</ion-content>
