<div class="request">
  <ion-grid>
    <ion-row>      
      <ion-col>
        <ion-row>
          <ion-col class="data" style="text-align: center;">
            <ion-label class="name" color="dark">Solicitud</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="data">
            <ion-label class="place" color="dark">{{request.from.name}} - {{request.to.name}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="data">
            <ion-label class="price" color="dark">Dispuesto a pagar - {{request.ableToPay}} {{request.coin}}</ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="data">
            <ion-label class="date" color="medium">{{request.date | date:'d/M/yyy - h:mm a'}}</ion-label>
          </ion-col>          
        </ion-row>
        <ion-row>
          <ion-col class="data pointer" (click)="presentAlertConfirmDelete(request.id)">
            <ion-icon name="close-circle-outline" color="medium" class="order-note"></ion-icon>
            <ion-note class="order-note active" color="danger">Eliminar</ion-note>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>

    <ion-row class="mt-1">
      <ion-col>
        <ion-button expand="block" color="medium" fill="outline">Ver detalles</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
