<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'edit_profile.header'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="show">
    <ion-row class="ion-padding">
      <ion-col class="content-col">
        <ion-avatar class="user-image">
          <img src="../../assets/images/avatar3.jpg">
          <ion-icon name="create-sharp" class="edit-avatar"></ion-icon>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <div class="padding-bottom-60">
      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <ion-item class="rounded mt-2">
          <ion-label position="floating">{{'edit_profile.firstname'|translate}}</ion-label>
          <ion-input formControlName="firstName" autocapitalize="true" type="text"></ion-input>
        </ion-item>
        <ion-item class="rounded mt-2">
          <ion-label position="floating">{{'edit_profile.lastname'|translate}}</ion-label>
          <ion-input formControlName="lastName" autocapitalize="true" type="text"></ion-input>
        </ion-item>
        <ion-item class="rounded mt-2">
          <ion-label position="floating">{{'auth.email'|translate}}</ion-label>
          <ion-input formControlName="email" type="email"></ion-input>
        </ion-item>
        <ion-item class="rounded mt-2">
          <ion-label position="floating">{{'edit_profile.phone_number'|translate}}</ion-label>
          <ion-input formControlName="phone" type="tel"></ion-input>
        </ion-item>
        <ion-item class="rounded mt-2">
          <ion-label>{{'edit_profile.gender'|translate}}</ion-label>
          <ion-select formControlName="gender" [placeholder]="'edit_profile.gender_placeholder'|translate">
            <ion-select-option [value]="genders.FEMALE">{{'edit_profile.female'|translate}}</ion-select-option>
            <ion-select-option [value]="genders.MALE">{{'edit_profile.male'|translate}}</ion-select-option>
          </ion-select>
        </ion-item>



        <!-- Datetime in popover with input -->
        <ion-item class="rounded mt-2">
          <ion-input [value]="dateValue"></ion-input>
          <ion-button fill="clear" id="open-popover">
            <ion-icon icon="calendar"></ion-icon>
          </ion-button>

          <ion-popover [keepContentsMounted]="true" trigger="open-popover">
            <ng-template>
              <ion-content class="ion-padding">
                <ion-datetime 
                presentation="date" 
                [showDefaultButtons]="true" 
                [doneText]="doneText"
                [cancelText]="cancelText" 
                [min]="min" 
                [max]="max"
                #popoverDatetime
                (ionChange)="setDate(popoverDatetime.value)"
                [locale]="setLocale()"
                ></ion-datetime>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-button class="fixed" [disabled]="!profileForm.valid" type="submit">{{'button.save'|translate}}</ion-button>
      </form>
    </div>
  </div>

  <div *ngIf="!show">
    <ion-row class="ion-padding">
      <ion-col class="content-col">
        <ion-avatar class="user-image-skeleton">
          <ion-skeleton-text animated></ion-skeleton-text>
        </ion-avatar>
      </ion-col>
    </ion-row>

    <div class="padding-bottom-60">

      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 45%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 44%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 42%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 60%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 30%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 80px; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
      </ion-item>
      <ion-item class="rounded mt-2">
        <ion-label class="py-1">
          <ion-skeleton-text animated style="width: 50%; height: 14px;" class="rounded"></ion-skeleton-text>
        </ion-label>
        <ion-label slot="end">
          <ion-skeleton-text animated style="width: 16px; height: 16px;">
          </ion-skeleton-text>
        </ion-label>
      </ion-item>
    </div>
  </div>

</ion-content>