<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-row class="ion-align-items-center">
      <ion-col size="10">
        <ion-searchbar class="rounded" placeholder="Buscar transporte">
        </ion-searchbar>
      </ion-col>
      <ion-col>
        <ion-icon class="circle-filter" (click)="goToFilters()" name="options-sharp"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Inicio</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <app-category></app-category>
    <ion-title size="large" class="ml-3">Todos los transportes</ion-title>
    <app-service></app-service>
  </ion-content>
  <app-explore-container name="Home"></app-explore-container>
</ion-content>
