<div class="category-slider" *ngIf="categories">
  <swiper [slidesPerView]="3" [autoplay]="true" [keyboard]="true" [pagination]="false" [scrollbar]="false"
    [zoom]="true">
    <ng-template *ngFor="let category of categories" [class]="'cat-'+ category.color" swiperSlide>
      <div style="padding-top: 5px;">
        <ion-label color="white">
          {{category.name}}
        </ion-label>
        <div class="category-photo">
          <ion-img [src]="category.photo" class="category-img"></ion-img>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>

<div *ngIf="!categories">
  <swiper [slidesPerView]="3" [autoplay]="false" [keyboard]="true" [pagination]="false" [scrollbar]="false"
    [zoom]="true">
    <ng-template *ngFor="let item of [1,2,3,4,5,6,7]" swiperSlide>
      <div style="padding-top: 5px;">
        <ion-label>
          <ion-skeleton-text animated style="width: 1500%; height: 30%;" class="rounded"></ion-skeleton-text>
        </ion-label>
        <ion-skeleton-text animated style="width: 3000%; height: 70px; top: 15px; left: -45px;"></ion-skeleton-text>
      </div>
    </ng-template>
  </swiper>
</div>
