.category-component {
  ion-label {
    position: absolute;
    top: 3px;
    left: 3px;
    font-weight: bolder;
  }

  
.category-img {
  background-repeat: no-repeat;
  width: 100% !important;
  /*or your image's width*/
  height: 100%;
  /*or your image's height*/
  margin: 20% 0 0 0;
  padding: 0;
}
}
