<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'profile.conf'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item class="shadow rounded mt-2" [href]="'/language'">
    <ion-label>{{'settings.language'|translate}}</ion-label>
    <ion-label color="primary" slot="end">{{selectedLanguage()}}</ion-label>
  </ion-item>
</ion-content>
